*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 70%;
    margin: 0 auto;
}
.logo img{
    width: 200px;
    margin-bottom: 40px;
}
ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 5px;
}
.contenitore1{
    position: relative;
    width: 100%;
    background-image: url(img/banner.jpg);
    height: 700px;
    background-size: cover;
    border-radius: 10px;
    margin-top: 30px;
}
.titolo{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 50px;
    color: #fff; 
}
.testo{
    position: absolute;
    bottom: 40px;
    height: 25%;
    width: 55%;
}
.titolo div{
    font-size: 20px;
    font-weight: normal;

}
.titolo2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}
.titolo2 div{
    font-size: 20px;
    font-weight: normal;
}